---
import { t } from "i18next"
import { Product } from "@/models/Product"
import { fetchProductList } from "@/services/directus"
import Layout from "@/layouts/Layout.astro"
import CallToAction from "@/components/CallToAction.svelte"
import ProductList from "@/components/ProductList.svelte"

const products: Product[] = await fetchProductList()
let categories: string[] = []
let tags: string[] = []

for (const product of products) {
  const categoryList = product.categories.map(cat => cat.name)
  const tagList = product.tags.map(tag => tag.name)
  categories = categories.concat(categoryList)
  tags = tags.concat(tagList)
}
---

<Layout title={t("shop.title") + " - "} description={t("shop.description")}>
  <section id="headline" class="section text-center">
    <div class="2xl:container 2xl:mx-auto">
      <h1 class="text-white text-4xl md:text-5xl my-16">Shop</h1>
    </div>
  </section>

  <ProductList
    client:load
    products={products}
    categories={[...new Set(categories)]}
    tags={[...new Set(tags)]}
    apiURL={import.meta.env.PUBLIC_URL}
    productCardButtonLabel={t("shop.product_card_button_label")}
    categoryFilterLabel={t("shop.category_filter_label")}
    tagFilterLabel={t("shop.tag_filter_label")}/>

  <CallToAction
    type="heading"
    title={t("call_to_action.title")}
    description={t("call_to_action.description")}
    buttonText={t("call_to_action.button_text")}
    buttonLink={t("call_to_action.button_link")}/>
</Layout>
