---
import i18next, { t } from "i18next"
import Header from "@/components/Header.svelte"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props;

const navLinks = {
  [t("header.about.link")]: t("header.about.text"),
  [t("header.contact.link")]: t("header.contact.text"),
}
---
<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Website by DreamCraft"}/>
    <meta name="viewport" content="width=device-width; initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link crossorigin rel="preconnect" href="https://fonts.gstatic.com">
    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400&display=swap">
    <title>{title}</title>
  </head>
  <body>
    <Header client:load links={navLinks}/>
    <slot/>
  </body>
</html>

<style is:global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html * {
    @apply font-main;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headings;
  }

  code {
    font-family:
      JetBrains Mono,
      Fira Code,
      Roboto Mono,
      DejaVu Sans Mono,
      Menlo,
      Monaco,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  button[type="button"], nav ul li a {
    @apply font-bold;
  }


</style>
